In [2]:
import pandas as pd
import numpy as np

## Data wrangling

**1. Gross domestic product, expenditure-based, provincial and territorial, annual (x 1,000,000)**

Statistics Canada. Table 36-10-0222-01  Gross domestic product, expenditure-based, provincial and territorial, annual (x 1,000,000)\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=3610022201

In [9]:
gdp = pd.read_csv('GDP.csv', skiprows=[i for i in range(0,6)])
gdp.drop(gdp.index[0], inplace=True)
gdp['Geography'] = gdp['Geography'].fillna(method='ffill')
gdp = gdp[:-7]
gdp['Geography'] = gdp['Geography'].replace(['Canada 1 (map)','Northwest Territories 2 (map)', 'Nunavut 2 (map)'],['Canada','Northwest Territories', 'Nunavut'])
gdp.rename(columns={'Reference period': 'Year', 'Gross domestic product at market prices': 'Real GDP', 'Gross domestic product at market prices.1': 'Nominal GDP'}, inplace=True)
gdp.reset_index(inplace=True)
gdp.drop('index', axis=1, inplace=True)
gdp = gdp.replace(',','', regex=True)
convert_dict = {'Real GDP': float, 'Nominal GDP': float} 
gdp = gdp.astype(convert_dict) 
gdp['Geography'] = gdp['Geography'].str.strip()

gdp.head()

  Geography  Year   Real GDP  Nominal GDP
0    Canada  1999  1376251.0    1007927.0
1    Canada  2000  1447508.0    1106071.0
2    Canada  2001  1473418.0    1144543.0
3    Canada  2002  1517887.0    1193694.0
4    Canada  2003  1545232.0    1254747.0

**2. Population estimates on July 1st, by age and sex**

Statistics Canada. Table 17-10-0005-01  Population estimates on July 1st, by age and sex\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1710000501

In [10]:
population = pd.read_csv('population.csv', skiprows=[i for i in range(0,4)])
population['Geography'] = population['Geography'].fillna(method='ffill')
population.drop(population.index[0], inplace=True)
population.drop('Age group 3 5', axis='columns', inplace=True)
population.rename(columns={'Reference period': 'Year', 'Both sexes': 'Population'}, inplace=True)
population = population[:-11]
population['Geography'] = population['Geography'].replace(['Northwest Territories 6 (map)','Nunavut 6 (map)'],['Northwest Territories', 'Nunavut'])
population.reset_index(inplace=True)
population.drop('index', axis=1, inplace=True)
population = population.replace(',','', regex=True)
convert_dict = {'Population': float, 'Year': str} 
population = population.astype(convert_dict) 
population['Year'] = population['Year'].str.split('.').str[0]

population.head()

  Geography  Year  Population
0    Canada  1999  30401286.0
1    Canada  2000  30685730.0
2    Canada  2001  31020902.0
3    Canada  2002  31360079.0
4    Canada  2003  31644028.0

**3. Gross domestic product (GDP) at basic prices, by industry, provinces and territories (x 1,000,000)**

Statistics Canada. Table 36-10-0402-01  Gross domestic product (GDP) at basic prices, by industry, provinces and territories (x 1,000,000)\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=3610040201

In [11]:
industry_gdp = pd.read_csv('industryGDP.csv', skiprows=[i for i in range(0,4)])
industry_gdp.drop(industry_gdp.index[0], inplace=True)
industry_gdp['Geography'] = industry_gdp['Geography'].fillna(method='ffill')
industry_gdp['North American Industry Classification System (NAICS) 7 8'] = industry_gdp['North American Industry Classification System (NAICS) 7 8'].fillna(method='ffill')
industry_gdp['North American Industry Classification System (NAICS) 7 8'] = industry_gdp['North American Industry Classification System (NAICS) 7 8'].str.split('[').str[0]
industry_gdp = industry_gdp[:-26]
industry_gdp.rename(columns={'Reference period': 'Year', 'North American Industry Classification System (NAICS) 7 8': 'Industry', 'Chained (2012) dollars 9': 'Industry GDP'}, inplace=True)
industry_gdp.reset_index(inplace=True)
industry_gdp.drop('index', axis=1, inplace=True)
industry_gdp = industry_gdp.replace(',','', regex=True)
industry_gdp.replace(to_replace ="..", value ="0", inplace= True) 
convert_dict = {'Industry GDP': float, 'Year': str, 'Industry': str} 
industry_gdp = industry_gdp.astype(convert_dict) 
industry_gdp['Year'] = industry_gdp['Year'].str.split('.').str[0]
industry_gdp['Industry'] = industry_gdp['Industry'].str.strip()
industry_gdp['Geography'] = industry_gdp['Geography'].str.strip()
industry_gdp.to_csv(r'industry.csv', index=False)

industry_gdp.head()

                   Geography                    Industry  Year  Industry GDP
0  Newfoundland and Labrador  Goods-producing industries  1999        8293.9
1  Newfoundland and Labrador  Goods-producing industries  2000        9305.3
2  Newfoundland and Labrador  Goods-producing industries  2001        9596.3
3  Newfoundland and Labrador  Goods-producing industries  2002       13434.9
4  Newfoundland and Labrador  Goods-producing industries  2003       15213.9

**4. Labour force characteristics by industry, annual**

Statistics Canada. Table 14-10-0023-01  Labour force characteristics by industry, annual (x 1,000)\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1410002301

In [12]:
labour = pd.read_csv('labour.csv', skiprows=[i for i in range(0,4)])
labour.drop(labour.index[0], inplace=True)
labour.rename(columns={'Reference period': 'Year', 'Geography 2': 'Geography', 'North American Industry Classification System (NAICS) 3': 'Industry', 'Employment 4': 'Employed', 'Unemployment 5': 'Unemployed'}, inplace=True)
labour['Geography'] = labour['Geography'].fillna(method='ffill')
labour['Industry'] = labour['Industry'].fillna(method='ffill')
labour.drop('Age group', axis='columns', inplace=True)
labour.drop('Sex', axis='columns', inplace=True)
labour = labour[:-15]
labour['Industry'] = labour['Industry'].replace(['Total, all industries 6','Goods-producing sector 7', 'Services-producing sector 8', 'Unclassified industries 9'],['All industries','Goods-producing sector', 'Services-producing sector', 'Unclassified industries'])
labour = labour.replace(',','', regex=True)
labour.replace(to_replace ="..", value ="0", inplace= True) 
convert_dict = {'Employed': float, 'Unemployed': float, 'Year': str} 
labour = labour.astype(convert_dict) 
labour.reset_index(inplace=True)
labour.drop('index', axis=1, inplace=True)
labour['Year'] = labour['Year'].str.split('.').str[0]
labour['Unemployment rate'] = labour['Unemployed'] / labour['Employed']

labour.head()

  Geography        Industry  Year  Employed  Unemployed  Unemployment rate
0    Canada  All industries  1999   14402.0      1181.7           0.082051
1    Canada  All industries  2000   14760.1      1081.8           0.073292
2    Canada  All industries  2001   14932.3      1161.8           0.077804
3    Canada  All industries  2002   15291.3      1269.3           0.083008
4    Canada  All industries  2003   15660.8      1283.3           0.081943

**5. Average weekly earnings by industry, annual**

Statistics Canada. Table 14-10-0204-01  Average weekly earnings by industry, annual\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1410020401

In [13]:
earnings = pd.read_csv('earnings.csv', skiprows=[i for i in range(0,4)])
earnings.drop(earnings.index[0], inplace=True)
earnings.rename(columns={'Reference period': 'Year', 'Industrial aggregate excluding unclassified businesses 5 6': 'All industries','Goods producing industries 7': 'Goods-producing sector', 'Service producing industries 8': 'Service-producing sector'}, inplace=True)
earnings.drop('Type of employees', axis='columns', inplace=True)
earnings.drop('Overtime', axis='columns', inplace=True)
earnings['Geography'] = earnings['Geography'].fillna(method='ffill')
earnings = earnings[:-19]
earnings['Geography'] = earnings['Geography'].replace(['Northwest Territories 10 11 (map)','Nunavut 10 11 (map)'],['Northwest Territories', 'Nunavut'])
earnings = earnings.replace(',','', regex=True)
earnings['Goods-producing sector'].replace(to_replace ="F", value ="1431.82", inplace= True) 
convert_dict = {'Year': str, 'Goods-producing sector': float, 'Service-producing sector': float, 'All industries': float} 
earnings = earnings.astype(convert_dict) 
earnings.reset_index(inplace=True)
earnings.drop('index', axis=1, inplace=True)
earnings['Year'] = earnings['Year'].str.split('.').str[0]

earnings.head()

,Geography,Year,All industries,Goods-producing sector,Service-producing sector
0,Canada,2001,657.28,828.25,608.27
1,Canada,2002,673.09,849.92,623.75
2,Canada,2003,691.17,876.59,640.35
3,Canada,2004,709.30,897.99,658.30
4,Canada,2005,737.04,930.13,685.79

**6. Consumer Price Index, annual average, not seasonally adjusted**

Statistics Canada. Table 18-10-0005-01  Consumer Price Index, annual average, not seasonally adjusted\
https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1810000501

In [14]:
#2002 = 100

cpi = pd.read_csv('cpi.csv', skiprows=[i for i in range(0,4)])
cpi.drop(cpi.index[0], inplace=True)
cpi['Geography'] = cpi['Geography'].fillna(method='ffill')
cpi.rename(columns={'Reference period': 'Year'}, inplace=True)
cpi = cpi[:-12]
cpi['Geography'] = cpi['Geography'].replace(['Whitehorse, Yukon 5 (map)','Yellowknife, Northwest Territories 5 (map)', 'Iqaluit, Nunavut 6 (map)'],['Yukon','Northwest Territories', 'Nunavut'])
cpi.reset_index(inplace=True)
cpi.drop('index', axis=1, inplace=True)
cpi.replace(to_replace ="..", value ="0", inplace= True) 
convert_dict = {'All-items': float, 'Gasoline': float} 
cpi = cpi.astype(convert_dict) 

cpi.head()

  Geography  Year  All-items  Gasoline
0    Canada  1999       92.9      84.9
1    Canada  2000       95.4     103.5
2    Canada  2001       97.8     100.8
3    Canada  2002      100.0     100.0
4    Canada  2003      102.8     106.4

**7. Economic Measurements**

In [17]:
eco = gdp.merge(population, on=['Geography', 'Year'], how = 'outer').merge(labour, on=['Geography', 'Year'], how = 'outer').merge(earnings, on=['Geography', 'Year'], how = 'outer').merge(cpi, on=['Geography', 'Year'], how = 'outer')
eco = eco[eco.Industry != 'Unclassified industries']
eco['Real GDP per Capita'] = eco['Real GDP'] / eco['Population'] * 1000000
eco['Nominal GDP per Capita'] = eco['Nominal GDP'] / eco['Population'] * 1000000
eco.to_csv(r'eco.csv', index=False)

eco.sample(5)

,Geography,Year,Real GDP,Nominal GDP,Population,Industry,Employed,Unemployed,Unemployment rate,All industries,Goods-producing sector,Service-producing sector,All-items,Gasoline,Real GDP per Capita,Nominal GDP per Capita
114,Newfoundland and Labrador,2006,31391.0,24602.0,510592.0,Services-producing sector,165.6,15.4,0.092995,706.15,881.16,669.76,109.5,137.9,61479.615819,48183.285285
800,Alberta,2010,282702.0,270203.0,3732082.0,All industries,2021.1,142.8,0.070655,990.34,1392.19,870.19,122.7,143.3,75749.139488,72400.070524
600,Manitoba,2002,47142.0,37646.0,1156680.0,All industries,563.3,30.0,0.053258,604.45,729.37,575.49,100.0,100.0,40756.302521,32546.598886
856,British Columbia,2003,178240.0,151958.0,4124482.0,All industries,1998.1,173.5,0.086832,685.90,856.66,650.29,102.2,109.4,43215.123742,36842.929609
140,Newfoundland and Labrador,2013,33748.0,34491.0,527114.0,All industries,240.5,32.6,0.135551,952.43,1275.73,879.82,126.0,169.0,64024.101048,65433.663306

In [20]:
eco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777 entries, 0 to 1007
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Geography                 777 non-null    object
 1   Year                      777 non-null    object
 2   Real GDP                  777 non-null    float64
 3   Nominal GDP               777 non-null    float64
 4   Population                756 non-null    float64
 5   Industry                  693 non-null    object
 6   Employed                  693 non-null    float64
 7   Unemployed                693 non-null    float64
 8   Unemployment rate         693 non-null    float64
 9   All industries            684 non-null    float64
 10  Goods-producing sector    684 non-null    float64
 11  Service-producing sector  684 non-null    float64
 12  All-items                 756 non-null    float64
 13  Gasoline                  756 non-null    float64
 14  Real GDP per Capita       756 non-null    float64
 15  Nominal GDP per Capita    756 non-null    float64
dtypes: float64(13), object(3)
memory usage: 103.2+ KB

In [21]:
industry_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7917 entries, 0 to 7916
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Geography     7917 non-null   object
 1   Industry      7917 non-null   object
 2   Year          7917 non-null   object
 3   Industry GDP  7917 non-null   float64
dtypes: float64(1), object(3)
memory usage: 247.5+ KB